{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Feature selection{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2> Feature Selectioni </h2>
<p></p>  
<p></p>  
<p>classifer = SelectKBest(f_classif, k=10).fit(dataset_data_scaled, dataset_target)</p>
<p>Find 10 best features</p>  
<p></p>    
<p></p>  

<h2> The best 10 features list: </h2>
  <ul>
    <li>radius_mean</li>
    <li>perimeter_mean</li>
    <li>area_mean</li>
    <li>concavity_mean</li>
    <li>concave.points_mean</li>
    <li>radius_worst</li>
    <li>perimeter_worst</li>
    <li>area_worst</li>
    <li>concavity_worst</li>
    <li>concave.points_worst</li>
  </ul>
  
  <p></p>    
  <p></p> 
  <form method="post">
    <button type="submit">Next Page</button>
  </form>
{% endblock %}
