{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Preprocessing{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2> Preprocessing </h2>
  <ul>
    <li>LabelEncoder</li>
    <li>Standarization</li>
  </ul>

<div align = center>
  <img src="https://raw.githubusercontent.com/xinyudong1129/xinyudong1129.github.io/master/images/analyse_scaled_ra.jpg" width="864px" height="360px">

  <p>  The comparison diagram of TNE before and after standarization</p>

  <img src="https://raw.githubusercontent.com/xinyudong1129/xinyudong1129.github.io/master/images/TSNE_TSNE_scaled.png" width="702px" height="280px">
</div>

<p></p>
<p></p>
<p></p>
<form method="post">
   <button type="submit">Next Page</button>
</form>

{% endblock %}
  